<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/dashboard">Typer Challenge</a>
        <div class="right-header">
            <a href="">ACCOUNT</a>
            <a href="">LEADERBOARD</a>
            <div class="dropdown">
                <button class="dropbtn">FRIENDS</button>
                <div class="dropdown-content">
                    <a href="#">Add Friends</a>
                    <a href="#">Friends List</a>
                    <a href="">Friend Requests</a>
                </div>
            </div>
            <form action="/logout" method="POST">
                <button id="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>
    <div>
        <form action="">
            <input type="text" placeholder="Username" name="friendName">
            <button>Send Friend Request</button>
        </form>
        
    </div>
</body>
</html>